<StackLayout class="page page-content">
    <PullToRefresh (refresh)="onPull($event)">
        <ListView class="list-group" [items]="this.comments" style="height: 1250px" (itemTap)="onItemTap($event)">
            <ng-template let-x="item">
                <GridLayout colums="auto, *, auto" rows="auto, 25" verticalAlignment="top" backgroudcolor="lightgray">
                    <Image src="res://icon" rowSpan="2" width="72" height="72" margin="3" horizontalAlignment="right" verticalAlignment="center"></Image>
                    <StackLayout>
                        <Label [text]="x.Texto" textWrap="true" col="1" colSpan="2" minHeight="30" fontSize="20" margin="3"></Label>
                        <Label [text]="'Usuario : ' + x.Usuario" fontSize="14" horizontalAlignment="left" verticalAlignment="bottom" margin="3"></Label>
                        <Label [text]="'Fecha: ' + x.Fecha" color="#10C2B0" fontSize="14" verticalAlignment="bottom" horizontalAlignment="left" margin="3"></Label>
                        <GridLayout colums="auto, *, 2">
                            <Label col="1" fontSize="25" marginTop="15" marginLeft="5" marginBottom="0" horizontalAlignment="left" text="&#xf0a6;" class="fa"></Label>
                            <Label col="2" fontSize="25" marginTop="15" marginLeft="45" marginBottom="0" text="&#xf0a7;" class="fa"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </ListView>
    </PullToRefresh>
</StackLayout>