// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
ActionBar .fa {
    padding: 40px 40px 40px 0;
}
.awesome { 
    background-color: yellow; 
}

.barra {
    background-color:peru;
}

.textoprincipal {
    font-size: 12px;
    background-color:darkseagreen;
}
