<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf013;"></Label>
    <StackLayout>
        <Label text="Nombre de Usuario"></Label>
        <TextField [(ngModel)]="nombreUsuario" hint="Ingresar usuario..."></TextField>
        <Button text="Guardar" (tap)="onTapButton()"></Button>
    </StackLayout>
</StackLayout>